* {
	font-family: 'Arial';
	font-size: 12px;
}

a {
	text-decoration: none;
}
a:link {
	color:#ffffff;
}
a:visited {
	color:#ffffff;
}
a:hover {
	text-decoration: underline;
}

/* All table settings */
table {
	padding: 1px;
	border-collapse: collapse;
}
table tr td {
	text-align: center;
	padding: 5px;
	border: 1px solid #cccccc; 
}

table thead tr {
	font-weight: bold;
	background: #555555;
	color: #ffffff;
}

table tfoot tr {
	background: #eeeeee;
	color: #444444;
}

table tbody {
	vertical-align: top;
}

/* List table specific settings */
table.list_table tfoot td {
	text-align: left;
}
table.list_table tfoot span {
	text-align: center;
	display : inline-block; 
	width: 50px;
}

/* Edit table specific settings */
table.edit_table {
	border: 1px solid #cccccc; 
}
table.edit_table tbody td {
	padding: 10px;
	border: none;
}
table.edit_table tbody td {
	text-align: left;
}
table.edit_table tbody td:first-child {
	text-align: right;
	font-weight: bold;
}
table.edit_table thead td {
	border-bottom: 1px solid #cccccc; 
}
table.edit_table tfoot td {
	border-top: 1px solid #cccccc; 
}

/* Other CSS settings */
p.error {
	color: #CC0000;
	font-weight: bold;
}

p.success {
	color: #009900;
	font-weight: bold;
}

/* Filter div */
table.list_filters tr td {
	font-weight: bold;
	vertical-align: middle;
	border: 0px;
}
table.list_filters button {
	padding: 0px;
}
table.list_filters img {
	padding: 0px;
	margin: 0px;
	border: 0px;
}